html, body, div {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
}

html {
  background: grey;
}

.container-fluid {
  background: lime;
}

.row {
  height:50%;
  background: orange;
}

.col-md-8 {
  height: 100%;
  background: lightgrey;
}

img {
  max-width:100%;
  max-height:100%;
  float: left;
}
